#introducao{
   .introducao{
        .header{
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .header-links-site{
                ul{
                    display: flex;
                    gap: 36px;

                    li{
                        
                        a{
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFCFC;
                        }
                    }
                }  
            }

            .header-links-redes{
                ul{
                    display: flex;
                    gap: 34px;
                }
            }
        }

        .info-introducao{
            margin-top: 280px;
            padding-bottom: 345px;
            h1{
                font-weight: 400;
                font-size: 64px;
                line-height: 96px;
                color: #F5F5F5;
            }

            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #F5F5F5;
                margin-top: -10px;
            }
        }
   }
}

.introducao-bg{
    background: url(/assets/img/img-principal/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quem-sou-bg{
    background: #24252D;
}

#quem-sou{
    .quem-sou{
        .conteudo-quem-sou{
            display: flex;
            justify-content: center;
            gap: 168px;
            padding-top: 74px;

            .info-chamada{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 735px;

                h3{
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 54px;
                    color: #FFFFFF;
                }

                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #FFFFFF;
                }

                .btn-curriculo{
                    
                    margin-top: 67px;
                    align-self: baseline;

                    a{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 27px;
                        color: #FFFFFF;
                        border: 5px solid #CCCCCC;
                        padding: 21px 41px;
                    }
                }
            }
        }
    }
}