#introducao{
   .introducao{
        .header{
            padding-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            .header-links-site{
                ul{
                    display: flex;
                    gap: 36px;

                    li{
                        
                        a{
                            position: relative;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFCFC;
                            max-width: max-content;

                            &::after{
                                content: " ";
                                display: block;
                                height: 1px;
                                width: 0%;
                                background-color: #FFFCFC ;
                                margin-top: 4px;
                                position: absolute;
                               
                            }

                            &:hover::after{
                                width: 100%;
                                transition: 0.3s;
                            }
                           
                        }
                    }
                }  
            }

            .header-links-redes{
                ul{
                    display: flex;
                    gap: 34px;
                }
            }
        }

        .info-introducao{
            margin-top: 280px;
            padding-bottom: 345px;
            h1{
                font-weight: 400;
                font-size: 64px;
                line-height: 96px;
                color: #F5F5F5;
            }

            p{
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #F5F5F5;
                margin-top: -10px;
            }
        }
   }
}

.introducao-bg{
    background: url(/assets/img/img-principal/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.quem-sou-bg{
    background: #24252D;
}

#quem-sou{
    .quem-sou{
        .conteudo-quem-sou{
            display: flex;
            justify-content: center;
            gap: 168px;
            padding-top: 74px;
            position: relative;

            .info-chamada{
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 735px;

                h3{
                    font-weight: 300;
                    font-size: 36px;
                    line-height: 54px;
                    color: #FFFFFF;
                }

                p{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #FFFFFF;
                }

                .btn-curriculo{
                    
                    margin-top: 67px;
                    align-self: baseline;

                    a{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 27px;
                        color: #FFFFFF;
                        border: 5px solid #CCCCCC;
                        padding: 21px 41px;

                        &:hover{
                            border-color: #FFFFFF;
                            transition: .3s;
                            filter: drop-shadow(0px 0px 1.5px rgba(255, 255, 255, 0.87));
                        }
                    }
                }

                &::after{
                    content: "";
                    background: url(/assets/img/img-principal/bubbles1.png) no-repeat left;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 55%;
                    right: 7%;
                }

                &::before{
                    content: "";
                    background: url(/assets/img/img-principal/bubbles2.png) no-repeat left;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 52%;
                    left: 92%;
                }
            }
        }

        .card-skills{
            margin-top: 98px;
            padding-bottom: 70px;
            .chamada-cards{
                p{
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 39px;
                    color: #FFFFFF;
                }
            }

            .card-swipper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 32px;

                .card{
                    background: #1E1F24;
                    padding: 17px 80px;
                    box-shadow: (4px 4px 4px rgba(0, 0, 0, 0.25));

                    .card-info{
                        display: flex;
                        flex-direction: column;
                        align-items: center;


                        p{
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 30px;
                            color: #FFFFFF;
                            margin-top: 10px;
                            text-transform: uppercase;
                        }
                    }

                    &:hover{
                        background: #2a2c33;
                        box-shadow: none;
                        transition: .3s;
                    }
                }
            }
        }
    }
}


.projetos-bg{
    background-color: #42444F;
}

#projetos{
    .projetos{
        .projetos-chamada{
            text-align: center;
            padding-top: 67px;
            margin-bottom: 48px;

            h2{
                font-weight: 400;
                font-size: 36px;
                line-height: 54px;
                color: #F5F5F5;   
            }
        }

        .projetos-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            max-width: max-content;
            justify-items: center;
            margin: 0 auto;
            gap: 28px;

            
            .projeto{
                box-shadow:(4px 4px 10px rgba(0, 0, 0, 0.25));
                width: 100%;
                height: 100%;
                max-width: 590px;
                max-height: 370px;
                background: url(/assets/img/img-principal/projeto1.png) no-repeat;
                background-size: cover;
                background-position: center;

                .detalhes-projeto{
                    padding: 37px 120px;
                    text-align: center;
                    opacity: 0;
                    background: linear-gradient(112.29deg, rgba(120, 114, 114, 0.42) -98.56%, rgba(120, 114, 114, 0.06) 100.54%);
                    backdrop-filter: blur(12px);

                    h2{
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 36px;
                        color:#24252D;
                        margin-bottom: 50px;
                    }
    
                    .info{
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 36px;
                        color:#24252D;
                        margin-bottom: 84px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        .detail{
                            border: 3px solid#24252D;
                            border-radius: 100%;
                        }
                    }

                    .button-projeto{
                        margin-bottom: 37px;
                        a{
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 27px;
                            color: #24252D;
                            border: 5px solid #24252D;
                            padding: 12px 20px;

                            &:hover{
                                color: #6e6b6b;
                                border: 5px solid #6e6b6b;
                                transition: .3s;
                            }
                        }
                    }
                }

                &:hover{
                    .detalhes-projeto{
                        opacity: 1;
                        transition: .3s;
                    }
                }

                .projetos-pendentes{
                    background: linear-gradient(112.29deg, rgba(120, 114, 114, 0.42) -98.56%, rgba(120, 114, 114, 0.06) 100.54%);
                    backdrop-filter: blur(12px);
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 159px;

                    p{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 27px;
                        color: #FFFFFF;
                    }
                }
            }

            .projeto:nth-child(2){
                background: url(/assets/img/img-principal/projeto2.png) no-repeat;
            }
            .projeto:nth-child(3){
                background: url(/assets/img/img-principal/projeto3.png) no-repeat;
            }
            .projeto:nth-child(4){
                background: url(/assets/img/img-principal/projeto4.png) no-repeat;
            }
        }
    }
}

